html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans' Helvetica, Arial, sans-serif;
  min-height: 100vh;
} 
.content-container{
  display: flex;
  flex: 1 1 auto;
  padding-top: 10vh;
  width: 100%;
}

/* NAV BAR STYLE */

.header{
  height: 20vh;
  background-color: #f78a;

}
.sec1{
  height: 60%;
  background-color:wheat;
}
.compte{
  width: 5vw;
  text-align: center;
  margin-left: 1em;
}
.utilisateur{
  display: inline-block;
  font-size: 2em;
  margin-left: 20px;
}
.identité {
  list-style: none;
  display: block;
  /* margin-left: 0.5em; */
}
ul a{
  text-decoration: none;
}
.slogan{
  float: right;
}
.nav-link{
  float: right;
}
.nav-link > li{
  display: inline-block;
  margin-left: 1em;
}
.sec2{
  height: 40%;
}
